@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';



/* Defining Global System Theme Variables in Root */
@theme {
  --color-brand-primary: #0d9488;    /* Deep Medical Teal */
  --color-brand-hover: #0f766e;      /* Darker Teal for interaction */
  --color-brand-light: #f0fdfa;      /* Soft Light Teal background */
  --color-bg-main: #f8fafc;          /* Slate Light background */
}
